name: test

on: ['push', 'pull_request']

jobs:
  octodns:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3'
      - name: Install OctoDNS
        run: pip install 'octodns>=1.5.0' octodns-dnsimple octodns-cloudflare
      - name: Do a dry run
        run: ./bin/dry-run
        env:
          DNSIMPLE_ACCOUNT_NUMBER: ${{ secrets.DNSIMPLE_ACCOUNT_NUMBER }}
          DNSIMPLE_API_KEY: ${{ secrets.DNSIMPLE_API_KEY }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
